<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <%= connection['provider_name'] %>
        <%= link_to 'See details', connection_info_path(connection['id']) %>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <dl>
              <% connection.each do |k, v| %>
                <dt><%= k %></dt>
                <dd><%= v %></dd>
              <% end %>
            </dl>
          </li>
          <li class="list-group-item">
            <% if connection['next_refresh_possible_at'] >= DateTime.now %>
              <%= link_to 'Refresh', edit_connection_path(connection['id'], do_action: :refresh) %>
              <%= link_to 'Reconnect', edit_connection_path(connection['id'], do_action: :reconnect) %>
            <% end %>
            <%= link_to 'Remove', edit_connection_path(connection['id'], do_action: :remove), class: 'btn btn-danger' %> 
          </li>
      </ul>
    </div>
  </div>
</div>
