<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card">
    <% if !connection %>

      <div class="card-header">
        There is no connection yet!
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= form_for(:connection, url: customer_connections_path, html: { method: :post }) do |f| %>
            <%= f.submit 'Create a new one', class: 'btn btn-primary' %>
          <% end %>
        </li>
      </ul>

    <% else %>

      <div class="card-header d-flex align-items-center justify-content-between">
        <%= connection['provider_name'] %>
        <a class="btn btn-primary">
          See transactions
        </a>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <dl>
              <% connection.each do |k, v| %>
                <dt><%= k %></dt>
                <dd><%= v %></dd>
              <% end %>
            </dl>
            <%= connection %>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn btn-warning">Refresh</a>
            <a href="#" class="btn btn-primary">Edit Connection</a>
          </li>
      </ul>

    <% end %>

    </div>
  </div>
</div>
