<!DOCTYPE html>
<html>
  <head>
    <title>RailsSalted</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="https://d1uuj3mi6rzwpm.cloudfront.net/_nuxt/img/se-logo.b6c3768.svg" alt="Why not?" >
          </a>
          <% if current_user %>
            <ul>
              <li><%= current_user.email %></li>
              <li><%= link_to "Sign out", destroy_user_session_path %></li>
            </ul>
          <% else %>
            <ul>
              <li><%= link_to "Sign in", new_user_session_path %></a></li>
              <li><%= link_to "Sign up", new_user_registration_path %></a></li>
            </ul>
          <% end %>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
